<%- include('layout/header') %>

<div class="container">
  <table class="table table-striped">
    <tr>
      <th scope="col"></th>
      <th scope="col">Date</th>
      <th scope="col">Category</th>
      <th scope="col">Details</th>
      <th scope="col">Amount</th>
      <th scope="col">Remark</th>
      <th scope="col">Action</th>
    </tr>
    <tr>
      <th scope="row"></th>
    </tr>
  </table>
</div>
<%- include('layout/footer') %>