<%- include('layout/header.ejs', {title: 'Error'}) %>
<div class="container">

  <div class="alert alert-primary" role="alert">
    <%= locals.message %>
  </div>
  <% if (locals.redirect) { %>

  <a href="<%= redirect %>" class="btn btn-primary">Back</a>
  <% } %>
</div>
<%- include('layout/footer.ejs') %>