<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Login</title>
  </head>
  <body>
    <form
      action="/login"
      method="post"
    >
      <label>
        username
        <input
          name="username"
          type="text"
        />
      </label>
      <br />
      <label>
        password
        <input
          name="password"
          type="password"
        />
      </label>
      <button type="submit">submit</button>
    </form>
  </body>
</html>
