<%- include('layout/header.ejs') %>


<div class="container">

  <div class="alert alert-primary" role="alert">
    <%= message %>
  </div>
  <a href="<%= redirect %>" class="btn btn-primary">Back</a>
</div>



</body>

</html>